body {
  font-weight: 400;
  font-family: "Tenor Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.header-container {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  color: #000000;
  min-height: 60px;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  z-index: 5;
}

.burger-menu-icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.burger-menu-body {
  display: block;
  position: fixed;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  background-color: white;
  padding: 80px 0 0 0;
  box-sizing: border-box;
  transition: right 0.3s ease 0s;
  overflow: auto;
}

.burger-menu-body.active {
  right: 50%;
  transform: translate(50%, 0);
}

.burger-menu-body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1000px;
  height: 60px;
  background-color: white;
  z-index: 2;
}

.burger-menu-wrapper {
  padding: 0 40px;
}

.menu-list {
  margin-bottom: 40px;
}

.menu-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin: 10px 0;
}

.menu-item a {
  color: #333333;
  text-decoration: none;
  line-height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ig-link {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.info-grid {
  display: grid;
  grid-template-columns: 40px auto;
  justify-items: start;
  align-items: center;
  width: 100%;
}

.info-grid-item {
  color: #333333;
  line-height: 30px;
  word-wrap: break-word;
}

.burger-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.burger-footer .sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  text-decoration: none;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  color: white;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 30px auto;
  background: #333333;
}
